ul {
  list-style-type: none;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

input {
  height: 2.5em;
  width: 18em;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.button {
  border-radius: 8px;
  border: 1px solid #ccc;
  width: 4em;
  height: 1.8em;
}

.img-film {
  height: 333px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.container-film {
  display: flex;
  gap: 50px;
  margin-left: 30px;
  align-items: center;
}

.film-show{
  margin-top: 10px;
  width: 400px;
}

.movie-card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  width: 600px;
}

.movie-card h2 {
  color: #333;
}

.movie-card p {
  margin-bottom: 5px;
}

.movie-film h2 {
  color: #333;
}

.navigate {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

}

.logo,
.logo_active {
  height: 3em;
  gap: 1em;
}

.logo_active {
  background-color: gold;
}

.custom-miltiselect {
  width: 200px;
}